
svg .node circle {
  fill: #999;
}

svg .node text {
  font: 13px sans-serif;
}

svg .node--internal circle {
  fill: #555;
}

svg .node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

svg .link_nodes {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}
