.timelin .axis path,
.timelin .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.timelin .axis text {
  font-family: sans-serif;
  font-size: 10px;
}

.timelin .timeline-label {
  font-family: sans-serif;
  font-size: 12px;
}

.timelin .coloredDiv {
  height:20px; width:20px; float:left;
}

.timelin {
  margin-left: 10%;
}

.timelin #hoverRes{
  margin-top: 10px;
}

.timelin #name {
  /* margin-left: 15px; */
}
