
#nav_bar_top{
  background-color: #5c5b97;
  /* height: 7vh; */
  /* height: 10%; */
}

#nav_bar_bot {
  /* height: 12%; */
}

#content_container {
  max-width: 100%;
  /* height: calc(100vh - 22%); */
}

#main_box {
  /* min-height:500px; */
  height: 100%;
}
#bubbles_svg_area{
  width: 100%;
  min-height: 540px;
  height: auto;
  /* height: 80vh; */
  /* height: 540px; */
  font-family: sans-serif;
  font-size: 10px;
  text-anchor: middle;
}

#menu{
  background-color: lightgrey;
}

.background {
  fill: none;
  pointer-events: all;
}

#info_box{
  position: absolute;
  top: 0;
  right: 0;
}


#search_bar {
  padding: .15rem .5rem;
}

.view{
  cursor: pointer;
}

.badge {
  font-size: 70% !important;
  cursor:pointer;
  transition: 0.2s;
}

.badge:hover{
  background-color: #0056b3;
}

.badge_outline_primary {
  border: 1px solid #007bff;
  color: #007bff;
  background-color: inherit;
}
.badge_outline_primary:hover{
  background-color: inherit;
  
}

.tooltip_bubble {
    position: absolute;
    text-align: center;
    /* width: 60px; */
    /* height: 28px; */
    padding: 2px;
    font: 12px sans-serif;
    /* background: lightsteelblue; */
    background: white;
    border: 1px solid black;
    border-radius: 3px;
    pointer-events: none;
}
