html, body{
  height:100%;
  /* margin: 0; */
}
.inner_content{
  /* height:100%; */
  /* width:100%; */
  height:inherit;
  width:inherit;
  transition: 0.3s -webkit-filter linear;
  /* -webkit-transition: 2s -webkit-filter linear; */
  -moz-transition: 0.3s -moz-filter linear;
  -o-transition: 0.3s -o-filter linear;
}
#nav_bar_top{
  background-color: #5c5b97;
  height: 7vh;
  /* height: 7%; */
  border-bottom: .5px solid black;
}
/*
https://css-tricks.com/viewport-sized-typography/
https://teamtreehouse.com/community/viewport-units-vs-percentages
https://stackoverflow.com/questions/14714744/how-do-i-give-a-div-a-responsive-height
https://www.w3schools.com/cssref/css_units.asp
https://codepen.io/micjamking/pen/QdojLz
https://www.whitebyte.info/programming/css/how-to-make-a-div-take-the-remaining-height
https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space
  */
#nav_bar_bot {
  /* height: 12%; */
}

#content_container {
  max-width: 100%;
  /* height: calc(100vh - 22%); */
  /* height: calc(100%-40px); */
  height:93%;
  /* height: auto; */
}

#content_row {
  height:100%;
}


#main_box {
  /* min-height:500px; */
  height: 100%;
}
#bubbles_svg_area{
  width: 100%;
  /* min-height: 540px; */
  /* height: auto; */
  height:100%;
  /* height: 80vh; */
  background-color: rgba(0,0,0,.05);
  /* height: 540px; */
  font-family: sans-serif;
  font-size: 10px;
  text-anchor: middle;
}

#menu{
  background-color: lightgrey;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 1px solid rgba(0,0,0,.2)

  /* height: calc(100%-40px); */
}

/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
::-webkit-scrollbar{
  width:10px;
}

.background {
  fill: none;
  pointer-events: all;
}

#info_box{
  display:none;
  position: absolute;
  top: 0;
  right: 0;
  /* max-height:100%; */
  max-height: 35%;
}

.card-body {
  max-height: 350px;
  /* text-overflow:inherit; */
  overflow-y:scroll;
}

/* https://www.colorhexa.com/6968a4 */
.active {
  background-color: #9898c1;
  border-left: 1px solid #505050 !important;
  border-right: 1px solid #505050 !important;
}

/* .nav-item {
  border-left: 1px solid #5c5b97;
  border-right: 1px solid #5c5b97;
} */

#search_bar {
  padding: .15rem .5rem;
}

.view{
  cursor: pointer;
  border-left: 1px solid #5c5b97;
  border-right: 1px solid #5c5b97;

}

.removed {
  display:none;
}

.invisible {
  visibility: hidden;
}

.badge {
  font-size: 70% !important;
  cursor:pointer;
  transition: 0.2s;
}

.badge:hover{
  /* background-color: #0056b3; */
  background-color: #9898c1;
}

.badge_outline_voteit {
  /* border: 1px solid #007bff; */
  /* color: #007bff; */
  border: 1px solid #5c6b97;
  color: #5c5b97;
  background-color: inherit;
}
.badge_outline_primary:hover{
  background-color: inherit;
}

.badge-pill{
  /* background-color:#9898c1; */
}
.tooltip_bubble {
    position: absolute;
    /* visibility: hidden; */
    text-align: center;
    top:0;
    /* width: 60px; */
    /* height: 28px; */
    padding: 2px;
    font: 12px sans-serif;
    /* background: lightsteelblue; */
    background: white;
    border: 1px solid black;
    border-radius: 3px;
    pointer-events: none;
}


.badge-voteit {
  color: #fff;
  background-color: #5c5b97;
  border: 1px solid #5c5b97;
}

.about_box{
  display: none;
  position: absolute;
  background-color: white;
  width: 40%;
  top:0;
  left:30%;
  height:auto;
  border: 1px solid black;
  border-radius: 5px;
}

.blurredElement {
    transition: 0.3s -webkit-filter linear;
    /* -webkit-transition: 2s -webkit-filter linear; */
    -moz-transition: 0.3s -moz-filter linear;
    -o-transition: 0.3s -o-filter linear;

     /* Any browser which supports CSS3 */
    filter: blur(2px);

    /* Firefox version 34 and earlier */
    filter: url("blur.svg#gaussian_blur");

    /* Webkit in Chrome 52, Safari 9, Opera 39, and earlier */
    -webkit-filter: blur(2px);
}
